@model HomeVM
@{
    ViewData["Title"] = "ANA SƏHIFƏ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" href="~/assets/css/home.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/owl.theme.default.min.css">
}
<main>
    <!-- carousel start -->
    <section id="slider">
        <div class="owl-carousel slider">
            @foreach (var item in Model.Sliders)
            {
                <div> <img src="~/assets/img/@item.Image" alt=""> </div>
            }

        </div>

    </section>
    <!-- carousel end -->
    <div class="container">
        <!-- about-area area starts -->
        <section id="about-area">
            <div class="about mt-3">
                <div class="row">
                    @foreach (var item in Model.Abouts)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="image">
                                <img src="~/assets/img/@item.Image" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
                            <div class="content">
                                <a asp-controller="About" asp-action="Index">
                                    <h1>Haqqımızda</h1>
                                </a>
                                <hr>
                                <p class="text-justify">
                                    @Html.Raw(item.Text)
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- about-area end -->
        <!-- products-area end -->
        <section id="products-area">
            <div class="row mt-3">
                <h2>Məhsullarımız</h2>
                @foreach (var item in Model.Products)
                {
                    <div class="col-sm">
                        <div class="card">

                            <img class="card-img-top" src="~/assets/img/@item.ProductImages.FirstOrDefault().Image"
                                 alt="вакцина">

                            <div class="card-body">
                                <a href="detail.html" class="card-title">@Html.Raw(item.Name)</a>
                                <!-- <p class="card-text">11.00</p>
                                <button  class="btn btn-primary">Add to card</button> -->
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <!-- products-area end -->
        <!-- Video starts -->
        <div class="video">

            @foreach (var item in Model.Advertisments)
            {
                <div class="row">
                    <div class="col  offset-md-2">
                        <video class="img-fluid rounded-sm " autoplay loop muted>
                            <source src="~/assets/video/@item.Video" type="video/mp4" class="rounded-sm" />
                        </video>
                    </div>
                </div>
            }

        </div>
        <!-- Video end -->
        <section id="galery-area">
            <h1><a asp-controller="Galery" asp-action="Index">Qalereya</a></h1>
            <div class="row mt-3">
                @await Component.InvokeAsync("Galery", 3)
            </div>
        </section>

    </div>
</main>
@section Scripts{
    <script src="~/assets/js/home.js"></script>
    <script src="~/assets/owlcarousel/owl.carousel.min.js"></script>
}