@model HomeVM
@{
    ViewData["Title"] = "ANA SƏHIFƏ";
}

<main>
    <!-- carousel start -->
    <section id="slider">
        <div class="owl-carousel slider">
            @foreach (var item in Model.Sliders)
            {
                <div> <img src="./assets/img/@item.Image" alt=""> </div>
            }
            
        </div>

    </section>
    <!-- carousel end -->
    <div class="container">
        <!-- about-area area starts -->
        <section id="about-area">
            <div class="about mt-3">
                <div class="row">
                    @foreach (var item in Model.Abouts)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
                            <div class="image">
                                <img src="~/assets/img/@item.Image" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
                            <div class="content">
                                <a asp-controller="About" asp-action="Index">
                                    <h1>Haqqımızda</h1>
                                </a>
                                <hr>
                                <p class="text-justify">
                                    @Html.Raw(item.Text)
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- about-area end -->
        <!-- products-area end -->
        <section id="products-area">
            <div class="row mt-3">
                <h2>Məhsullarımız</h2>
                <div class="col-sm">
                    <div class="card">
                        <a asp-controller="Detail" asp-action="Index">
                            <img class="card-img-top" src="~/assets/img/вакцина-2.JPG"
                                 alt="вакцина">
                        </a>
                        <div class="card-body">
                            <a href="detail.html" class="card-title">Vaksin</a>
                            <!-- <p class="card-text">11.00</p>
                            <button  class="btn btn-primary">Add to card</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <a href="detail.html">
                            <img class="card-img-top" src="~/assets/img/spirt-2.JPG"
                                 alt="spirt">
                        </a>
                        <div class="card-body">
                            <a href="detail.html" class="card-title">Spirt</a>
                            <!-- <p class="card-text">11.00</p>
                            <button  class="btn btn-primary">Add to card</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <a href="detail.html">
                            <img class="card-img-top" src="~/assets/img/absolute-purple-2.JPG"
                                 alt="absolute-purple">
                        </a>
                        <div class="card-body">
                            <a href="detail.html" class="card-title">Absolute Vodka</a>
                            <!-- <p class="card-text">11.00</p>
                            <button  class="btn btn-primary">Add to card</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <a href="detail.html">
                            <img class="card-img-top" src="~/assets/img/absolute-organic-1.JPG"
                                 alt="absolute-purple">
                        </a>
                        <div class="card-body">
                            <a href="detail.html" class="card-title">Absolute Organic</a>
                            <!-- <p class="card-text">11.00</p>
                            <button class="btn btn-primary">Add to card</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- products-area end -->
        <!-- Video starts -->
        <div class="video">
            <div class="row">
                <div class="col  offset-md-2">
                    <video class="img-fluid rounded-sm " autoplay loop muted>
                        <source src="~/assets/video/VID-20220220-WA0008.mp4" type="video/mp4" class="rounded-sm" />
                    </video>
                </div>
            </div>
        </div>
        <!-- Video end -->
        <section id="galery-area">
            <h1><a href="galery.html">Qalereya</a></h1>
            <div class="row mt-3">
                <div class="col mt-3 image"><img src="~/assets/img/absolute-2.JPG" class="rounded" alt="..."></div>
                <div class="col mt-3 image"><img src="~/assets/img/organic-2.JPG" class="rounded" alt="..."></div>
                <div class="col mt-3 image"><img src="~/assets/img/zero-2.JPG" class="rounded" alt="..."></div>
                <div class="col mt-3 image">
                    <img src="~/assets/img/absolute-purple-2.JPG" class="rounded" alt="...">
                </div>
            </div>
        </section>

    </div>
</main>