@model ProductionVM
@{
    ViewData["Title"] = "Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/assets/css/about.css">
}

<div class="container">
    <section id="top-area">
        <div class="content ">
            <div class="container-fluid ">
                <div class="row ">
                    @foreach (var item in Model.Processes)
                    {

                        <div class="col-xl-6 col-lg-5 col-md-4 col-sm-4 col-xs-5">
                            <div class="text text-center">
                                <h2> Production</h2>
                                <p>
                                    @Html.Raw(item.Text)
                                </p>
                                <div id="wrapper">
                                    <div id="wrapper-inner">
                                        <div id="scroll-down">
                                            <p class="arrow-down">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#process">LEARN MORE</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-8 col-xl-6 col-sm-12 col-xs-12">
                            <div class="image" style="height:40rem;">
                                <img src="~/assets/img/@item.Image" alt="">
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
    <section id="process">
        <div class="container ">
            <div class="row mt-5">
                @foreach (var item in Model.Cards)
                {
                    <div class="col-xl-6 col-lg-6 col-md-5 col-sm-5 col-xs-5 mt-5">
                        <div class="card mt-5">
                            <img class="card-img-top mt-5" src="~/assets/img/@item.Image" alt="card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.Raw(item.Name)</h5>
                                <p class="card-text">
                                    @Html.Raw(item.Desc)
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/assets/js/production.js"></script>
}

