
@{
    ViewData["Title"] = "Əlaqə";
}

<main>
    <section id="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-area">
                        <h1>Birbaşa Əlaqə</h1>
                        <ul class="list-group mt-3">
                            <li class="list-group">
                                <p><i class="fal fa-envelope  fa-xl"></i> office@bakuspirits.az</p>
                            </li>
                            <li class="list-group">
                                <p><i class="fal fa-phone fa-xl"></i> +994 012 452 08 54</p>
                            </li>
                            <li class="list-group">
                                <p>
                                    <i class="fal fa-map-marker-alt  fa-xl"></i> Bülbülə qəsəbəsi, İ.Məmmədov küçəsi
                                    119 N
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-area">
                        <h1>Əlaqə saxlayın</h1>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"></label>
                                <input type="email" class="form-control" placeholder="Poçt ünvanı"
                                       aria-label="Poçt ünvanı" aria-describedby="addon-wrapping">
                                <span></span>
                                <label for="exampleFormControlTextarea1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          placeholder="Mesajınızı yazın"></textarea>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary mt-3">Mesajı Göndər</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="location-area">
            <div class="row">
                <div class="col-12">
                    <div class="location bg-dark">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.7014632082505!2d49.98610331523253!3d40.43760897936269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f34d93dc538e2f5!2zNDDCsDI2JzE1LjQiTiA0OcKwNTknMTcuOSJF!5e0!3m2!1sen!2s!4v1652705542843!5m2!1sen!2s" width="1540" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
