* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

$color: #f34f3f;
$text-hover-color: rgb(162, 29, 29);
$color: #f34f3f;
$text-hover-color: rgb(162, 29, 29);
$font-color: #fff;
$main-font-color: #fff;

 
main {
    #product-area {
        .search {
            .search-box {
                .search {
                    display: inline;
                    border: 2px solid #ccc;
                    border-radius: 100px;
                    padding: 10px 15px;
                    transition: background-color 0.5 ease-in-out;
                    border: none;
                    background-color: transparent;
                    width: 200px;
                    color: black;
                    ;

                    &:focus {
                        outline: none;
                    }
                }

                ::placeholder {
                    color: black;
                    opacity: 1;
                }

                button,
                i {
                    border: none;
                    background: none;
                    cursor: pointer;
                    color: black;
                }
            }

        }


        .content {
            display: none;
        }

        .btn {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $font-color;
            outline: 2px solid #fff;
            padding: 10px 40px;
            position: relative;
            overflow: hidden;
            transition: color 1s;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            outline: none;
            width: 200px;

            &:hover {
                color: $text-hover-color  !important;

            }

            &::before {
                content: " ";
                position: absolute;
                top: 0;
                left: -50px;
                width: 0;
                height: 100%;
                background-color: #fff !important;
                transform: skewX(35deg);
                z-index: -1;
                transition: width 1s;
            }

            &:hover::before {
                width: 150%;
            }

            p {
                font-weight: 16px !important;
            }
        }

        #products {
            ul {
                li {
                    a {
                        margin-right: 30px;
                        text-transform: uppercase;
                        transition: color .3s;
                        letter-spacing: .1em;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }

            .product-item {
                .img {
                    width: 16rem;
                    overflow: hidden;

                    img {
                        transition: all .3s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                .title {
                    text-align: start;

                    h6 {
                        color: white;
                        font-size: 12px;
                        letter-spacing: .1em;
                        text-transform: uppercase;

                    }
                }
            }
        }
    }



}
 

@media screen and (width: 280px) {
    main {
        #products {
            .content {
                .img {
                    width: 14em !important;

                    img {
                        width: 100%;
                    }

                }

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}

//Phone Portrait  
@media screen and (min-width: 300px) and (max-width: 400px) {


    main {
        #products {
            .content {
                .img {
                    width: 19.5em !important;

                    img {
                        width: 100%;
                    }

                }

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}

//Phone Landscape
@media screen and (min-width: 400px) and (max-width: 600px) {


    main {
        #products {
            .content {
                .img {
                    width: 22em !important;

                    img {
                        width: 100%;
                    }

                }

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}


//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {}

// Table Portrait 
@media screen and (min-width: 600px) and (max-width: 768px) {

    main {
        #products {
            .content {
                .img {
                    width: 22em !important;

                    img {
                        width: 100%;
                    }

                }

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }

}

//Table  Landscape
@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        .search-sorting {
            visibility: hidden;
        }

        .filter-area {
            height: 400px;
        }


        #products {
            .content {
                .img {
                    width: 42em !important;

                    img {
                        width: 100%;
                    }

                }

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }

            }
        }


    }
}

//Table  Landscape
@media screen and (min-width: 992px) and (max-width: 1024px) {


    main {
        .search-sorting {

            .search-box {
                width: 250px;
            }
        }

        .filter-area {
            height: 400px;
        }

        .pagination {
            ul {
                position: relative;
                left: 50%;
            }
        }

    }
}