@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
@section Css{
    <link rel="stylesheet" href="~/assets/css/login.css">
}

<main>
    <section id="login-area">
        <div class="container  ">
            <div class="login">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mt-3">
                        <h2>Daxil ol</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form method="post" asp-action="ResetPassword">
                            <input type="hidden" asp-for="Token" value="@Model.Token" />
                            <input type="hidden" asp-for="Email" value="@Model.Email" />
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"></label>
                                <input type="text" class="form-control" asp-for="Password" placeholder="İstifadəçi adı və ya email"
                                       aria-describedby="addon-wrapping">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"></label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Parol"
                                       id="exampleInputPassword1">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                            </div>
                            <button type="submit" class="btn btn-primary ">Şifrəni dəyiş</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <partial name="_ValidationPartial" />
}