@model List<Galery>
@{
    ViewData["Title"] = "Default";
    Layout = null;
}


@foreach (var item in Model)
{

    <div class="col content mt-3 image"><img src="./assets/img/@item.Image" class="rounded" alt="..."></div>
 
}
