@model List<Galery>
@{
    ViewData["Title"] = "Default";
    Layout = null;
}


@foreach (var item in Model)
{

    <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7 content mt-3 image"><img src="./assets/img/@item.Image" class="rounded" alt="..."></div>
 
}
