@model List<Partners>
@{
    ViewData["Title"] = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" href="~/assets/css/partners.css">
}
<main>
    <section id="patner-area">
        <div class="container ">
            <div class="content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <img class="card-img-top" src="~/assets/img/@item.Image" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h3>@Html.Raw(item.Name) </h3>
                                @Html.Raw(item.Desc)
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</main>