* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    //     background-image: url(../img/pexels-martin-péchy-304664.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    background-color: rgb(215, 205, 205);
    overflow-x: hidden;
}

$color: #f34f3f;
$background-color: rgb(250, 246, 246);
$text-hover-color: rgb(162, 29, 29);
$font-color: rgb(162, 29, 29);
$header-font-color: rgb(162, 29, 29);

header {
    height: 100px;

    nav {
        padding: 0px !important;

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }

        ul {
            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: black !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: black;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 115px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }


                }

                .dropdown {
                    transition: opacity .5s;
                    background-color: white;
                    position: absolute;
                    top: 20px;
                    width: 100%;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        visibility: visible;
                        position: relative;

                        //top: 10px;
                        li {
                            padding: 5px 0;
                            font-size: 12px;

                            a {
                                text-decoration: none;
                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;

                        a {
                            text-decoration: none;
                        }
                    }

                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }
            }

            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 1px 3px;
                    color: white;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 10px;
                    }
                }
            }
        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

main {
    .image {
        width: 70%;
        height: auto;
        filter: brightness(40%);
    }

    .content {
        margin-left: 20%;

        h1 {
            color: #fff;
        }

        .loader {
            width: 600px;
            height: 75px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;

            .ball {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #fff;
                animation: bounce .5s alternate infinite;
                transition-delay: 5s;

                &:nth-child(2) {
                    animation-delay: .16s;
                }

                &:nth-child(3) {
                    animation-delay: .32s;
                }
            }
        }

        @keyframes bounce {
            from {
                transform: scaleX(1.25);
            }

            to {
                transform:
                    translateY(-50px) scaleX(1);
            }

            0% {
                background: red;
            }

            25% {
                background: green;
            }

            75% {
                background: yellow;
            }

            100% {
                background: orange;
            }
        }
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;
        cursor: pointer;

        p:hover {
            color: $text-hover-color;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}


//Phone Portrait  
@media screen and(max-width: 320px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}

//Phone Landscape
@media screen and (max-width: 480px) {

    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                min-width: 400px !important;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .content {
            .loader {
                //background-color: red;
                margin-bottom: -10% !important;
                margin-left: -23%;
                width: 120% !important;

                .bal {
                    padding: 0% !important;
                }

                h1 {
                    font-size: 17px !important;
                }
            }
        }

    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {
    // #header {
    //     background-color: $background-color !important;

    //     ul {
    //         a {
    //             text-align: center !important;
    //             font: 1.2em sans-serif;
    //             color: white;

    //             &:hover {
    //                 color: $text-hover-color !important;
    //             }
    //             i{
    //                 margin-top:10px;
    //             }
    //         }
    //     }
    // }
    // #footer {
    //     .img{
    //         visibility: hidden !important;
    //     }
    // }

}

// Table Portrait 
@media screen and(max-width: 768px) {

    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}



//Table  Landscape
@media screen and(max-width: 1024px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}