* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;
}

$color: #f34f3f;
$color: #f34f3f; 
$text-hover-color: rgb(162, 29, 29);
$font-color: #fff; 
header {
    nav {
        padding: 0px !important;
        margin-top: -2%;

        .logo {
            width: 200px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }

        ul {
            .drop {
                a {
                    color: $font-color !important;
                    font-size: 15px;
                }
                background-color: transparent !important;
            }

            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 17px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: $font-color !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: white;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                .login-trigger {

                    text-decoration: none;
                }

                .modal {
                    padding-right: 22%;

                    .close {
                        color: red;
                        transform: scale(1.2);
                        background-color: transparent;
                        border: none;
                    }

                    .modal-content {
                        background-image: url(../img/back.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 115vh;
                        border-radius: 20px;
                    }

                    .modal-body {
                        position: relative;
                        background-color: transparent;
                        width: 110vh;
                    }

                    h4 {
                        font-weight: bold;
                        margin: 0;
                        color: $font-color;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 100;
                        line-height: 20px;
                        letter-spacing: 0.5px;
                        margin: 20px 0 30px;
                        color: rgb(3, 60, 3);
                    }

                    span {
                        font-size: 12px;
                    }

                    a {
                        color: rgb(10, 108, 10);
                        font-size: 14px;
                        text-decoration: none;
                        margin: 15px 0;

                        &:hover {
                            text-decoration: underline;
                            color: rgb(10, 108, 10);
                        }
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        color: rgb(3, 60, 3);
                        font-size: 16px;
                        font-weight: bold;
                        padding: 12px 25px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        transition: transform 80ms ease-in;

                        &:active {
                            transform: scale(0.95);
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    button.ghost {
                        background-color: transparent;
                        border-color: #FFFFFF;
                    }

                    form {
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 50px;
                        height: 70vh;
                        text-align: center;
                    }

                    input {
                        background-color: transparent;
                        border: none;
                        padding: 12px 15px;
                        margin: 8px 0;
                        width: 100%;
                        color: rgb(3, 60, 3);
                        outline: none;
                    }

                    .container {
                        background-image: url(../img/back.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 10px;
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                        position: relative;
                        overflow: hidden;
                        width: 768px;
                        max-width: 100%;
                        min-height: 480px;
                    }

                    .form-container {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        transition: all 0.6s ease-in-out;
                    }

                    .sign-in-container {
                        left: 0;
                        width: 50%;
                        z-index: 2;
                    }

                    .container.right-panel-active {
                        .sign-in-container {
                            transform: translateX(100%);
                        }

                        .sign-up-container {
                            transform: translateX(100%);
                            opacity: 1;
                            z-index: 5;
                            animation: show 0.6s;
                        }

                        .overlay-container {
                            transform: translateX(-100%);
                        }

                        .overlay {
                            transform: translateX(50%);
                        }

                        .overlay-left {
                            transform: translateX(0);
                        }

                        .overlay-right {
                            transform: translateX(20%);
                        }
                    }

                    .sign-up-container {
                        left: 0;
                        width: 50%;
                        opacity: 0;
                        z-index: 1;
                    }

                    .overlay-container {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        transition: transform 0.6s ease-in-out;
                        z-index: 100;
                    }

                    .overlay {
                        background-color: transparent;
                        background-position: 0 0;
                        color: rgb(3, 60, 3);
                        position: relative;
                        left: -100%;
                        height: 100%;
                        width: 200%;
                        transform: translateX(0);
                        transition: transform 0.6s ease-in-out;
                    }

                    .overlay-panel {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 40px;
                        text-align: center;
                        top: 0;
                        height: 100%;
                        width: 50%;
                        transform: translateX(0);
                        transition: transform 0.6s ease-in-out;
                    }

                    .overlay-left {
                        transform: translateX(-20%);
                    }

                    .overlay-right {
                        right: 0;
                        transform: translateX(0);
                    }

                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }


                }

                .dropdown {
                    transition: opacity .5s;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        visibility: visible;
                        position: relative;
 
                        li {
                            padding: 5px 0;
                            font-size: 12px;

                            a {
                                text-decoration: none;
                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;

                        a {
                            text-decoration: none;
                        }
                    }

                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }



            }


            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 2px 2px;
                    color: $font-color;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 14px;
                    }
                }
            }

        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

main {
    
    .content {
        

        h1 {
            color: #fff;
        }
        @keyframes load{
            0%{
                box-shadow: 0 0 #ed3b65 inset;
            }
            100%{
                box-shadow: 0 -70px #ed3b65 inset;
            }
        }
        .loader {
           transform:perspective(140px) rotateX(-45deg);
           width:32px;
           height:72px;
           position: relative;
           border:2px solid #fff;
           animation:1.5s linear infinite alternate;            
        }

         
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;
        cursor: pointer;

        p:hover {
            color: $text-hover-color;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}


//Phone Portrait  
@media screen and(max-width: 320px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}

//Phone Landscape
@media screen and (max-width: 480px) {

    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                min-width: 400px !important;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .content {
            .loader {
                //background-color: red;
                margin-bottom: -10% !important;
                margin-left: -23%;
                width: 120% !important;

                .bal {
                    padding: 0% !important;
                }

                h1 {
                    font-size: 17px !important;
                }
            }
        }

    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {
    // #header {
    //     background-color: $background-color !important;

    //     ul {
    //         a {
    //             text-align: center !important;
    //             font: 1.2em sans-serif;
    //             color: white;

    //             &:hover {
    //                 color: $text-hover-color !important;
    //             }
    //             i{
    //                 margin-top:10px;
    //             }
    //         }
    //     }
    // }
    // #footer {
    //     .img{
    //         visibility: hidden !important;
    //     }
    // }

}

// Table Portrait 
@media screen and(max-width: 768px) {

    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}



//Table  Landscape
@media screen and(max-width: 1024px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        .head-image {
            .image {
                width: 375px !important;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}