* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background-image: url(../img/pexels-martin-péchy-304664.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgb(215, 205, 205);
}

$color: #f34f3f;
$background-color: rgb(250, 246, 246);
$text-hover-color: rgb(162, 29, 29);
$font-color: rgb(162, 29, 29);
$header-font-color: rgb(162, 29, 29);

header {
    height: 100px;

    nav {
        padding: 0px !important;

        .logo {
            img {
                width: 100px;
                height: 100px;
            }
        }

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }

        ul {
            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: black !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: black;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }


                }

                .dropdown {
                    transition: opacity .5s;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        visibility: visible;
                        position: relative;

                        //top: 10px;
                        li {
                            padding: 5px 0;
                            font-size: 12px;

                            a {
                                text-decoration: none;
                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;

                        a {
                            text-decoration: none;
                        }
                    }

                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }
            }

            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 2px 2px;
                    color: white;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 14px;
                    }
                }
            }
        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

main {
    #detail-area {
        .product-image {
            height: 80%;
            margin-left: 5%;
            position: relative;

            img {
                width: 80%;
                height: 100% !important;
                border-radius: 10px;
            }
        }

        .product-name {
            margin-left: 2%;
            color: #fff;
        }

        .product-detail {
            color: #fff;
        }
    }

    .container {
        overflow: hidden;
        position: relative;
        .items {
            display: flex;
            align-items: center;
            width: fit-content;
            animation: carouselAnim 15s infinite alternate linear;
        }
        .card {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 350px;
            margin: 1em;
            padding: 0.5em;
            border-radius: 10px;
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
            background-color: transparent;
            border: none;
            a {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                text-align: center;
                padding: 1em;
            }

            .name {
                font-weight: bold;
            }
        }

        @keyframes carouselAnim {
            from {
                transform: translate(0, 0);
            }

            to {
                transform: translate(calc(-100% + (5 * 300px)));
            }
        }

        .sides {
            width: 100%;
            position: absolute;
            height: 100%;

            .right, .left {
                background: linear-gradient(to right,
                        rgba(245, 245, 245, 1) 0%,
                        rgba(255, 255, 255, 0) 100%);
                width: 15%;
                height: 100%;
                position: absolute;
                z-index: 200;
            }
            .right {
                right: 0;
                background: linear-gradient(to left,
                        rgba(245, 245, 245, 1) 0%,
                        rgba(255, 255, 255, 0) 100%);
            }
        }
    }
}



.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;
        cursor: pointer;

        p:hover {
            color: $text-hover-color;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}

//Phone Portrait  
@media screen and(min-width: 320px) and (max-width: 470px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {

        #detail-area {
            .product-image {
                margin-top: 5% !important;
                padding-right: 5% !important;

                img {
                    width: 95% !important;
                }
            }

            .product-name {
                margin-top: -8% !important;
            }

            .product-detail {
                width: 90% !important;
            }
        }

        .container {
            width: 95%;

            .left {
                background: transparent !important;

            }

            .right {
                background: transparent !important;

            }
        }

    }
}

//Phone Landscape
@media screen and (max-width: 480px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        #product-area {
            .product-name {
                background-color: red !important;
                margin-top: -5% !important;
            }
        }
    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {}

// Table Portrait 
@media screen and(max-width: 768px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        #product-are {
            .product-name {
                background-color: red !important;
                margin-top: -5% !important;

                h2 {
                    color: red !important;
                }
            }
        }
    }

}

//Table  Landscape
@media screen and(max-width: 1024px) {
    header {
        nav {
            width: 95% !important;

            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }

    main {
        #product-are {
            .product-name {
                background-color: red !important;
                margin-top: -5% !important;

                h2 {
                    color: red !important;
                }
            }
        }

    }
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}