* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: rgb(215, 205, 205);
}

$color: #f34f3f;
$background-color: rgb(250, 246, 246);
$text-hover-color: rgb(162, 29, 29);
$font-color: rgb(51, 50, 50);
$header-font-color: rgb(162, 29, 29);

header {
    nav {
        padding: 0px !important;
        margin-top: -2%;

        .logo {
            width: 200px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }
        .login-trigger {
            font-weight: bold;
            color: #fff;
            background-color: linear-gradient(to bottom right, #B05574, #F87E7B);
            padding: 15px 30px;
            border-radius: 30px;
            position: relative;

            .close {
                color: #fff;
                transform: scale(1.2);
            }

            .modal-content {
                background-color: linear-gradient(to bottom right, #F87E7B, #B05574);

                .modal-body {
                    position: relative;
                }

                .modal-body {
                    background-color: #d5b4b4;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    height: 100vh;
                    margin: -20px 0 50px;
                }

                h1 {
                    font-weight: bold;
                    margin: 0;
                }

                p {
                    text-align: center;
                }

                p {
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin: 20px 0 30px;
                }

                span {
                    font-size: 12px;
                }

                a {
                    color: #333;
                    text-decoration: none;
                    font-size: 14px;
                    margin: 15px 0;
                }

                button {
                    border-radius: 20px;
                    border: 1px solid #FF4B2B;
                    background-color: #FF4B2B;
                    color: #FFFFFF;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 12px 45px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: transform 80ms ease-in;

                    &:active {
                        transform: scale(.95);
                    }

                    &:focus {
                        outline: none;
                    }

                    .ghost {
                        background-color: transparent;
                        border-color: #FFFFFF;
                    }

                    form {
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 50px;
                        height: 100%;
                        text-align: center;
                    }

                    input {
                        background-color: #eee;
                        border: none;
                        padding: 12px 15px;
                        margin: 8px 0;
                        width: 100%;
                    }

                    .container {
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
                        position: relative;
                        overflow: hidden;
                        width: 768px;
                        max-width: 100%;
                        min-height: 480px;
                    }

                    .form-container {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        transition: all .6s ease-in-out;
                    }

                    .sign-in-container {
                        left: 0;
                        width: 50%;
                        z-index: 2;
                    }

                    .container.right-panel-active .sign-in-container {
                        transform: translateX(100%);
                    }

                    .sign-up-container {
                        left: 0;
                        width: 50%;
                        opacity: 0;
                        z-index: 1;
                    }

                    .container.right-panel-active .sign-up-container {
                        transform: translateX(100%);
                        opacity: 1;
                        z-index: 5;
                        animation: show .6s;
                    }

                    @keyframes show {

                        0%,
                        49.99% {
                            opacity: 0;
                            z-index: 1;
                        }

                        50%,
                        100% {
                            opacity: 1;
                            z-index: 5;
                        }
                    }
                }
            }

        }
        ul {
            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: black !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: black;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }


                }

                .dropdown {
                    transition: opacity .5s;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        visibility: visible;
                        position: relative;

                        //top: 10px;
                        li {
                            padding: 5px 0;
                            font-size: 12px;

                            a {
                                text-decoration: none;
                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;

                        a {
                            text-decoration: none;
                        }
                    }

                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }
                
                

            }
          
           
            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 2px 2px;
                    color: white;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 14px;
                    }
                }
            }

        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

main {
    #carousel {
        .carousel-item {
            height: 700px !important;

            img {
                height: 100% !important;
            }
        }
    }

    #about-area {
        background-color: rgba(255, 255, 255, 0.538);
        border-radius: 10px;

        .image {
            width: 600px;
            height: 500px;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .content {
            color: black;
            margin-right: 15%;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
            }

            hr {
                height: 3px;
                color: red;
            }
        }
    }


    #products-area {
        h2 {
            color: white;
            text-align: center;
        }

        .card {
            margin-top: 10px;
            width: 18rem;
            background-color: transparent;
            border: none;
            color: white;

            .card-img-top {
                border-radius: 10px;
                transition: transform .75s;
            }

            &:hover .card-img-top {
                transform: scale(1.1);
            }

            .card-body {

                .card-title {
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    font-weight: bolder;
                }

                .btn {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: white;
                    outline: 2px solid #fff;
                    padding: 10px 40px;
                    position: relative;
                    overflow: hidden;
                    transition: color 1s;
                    background-color: transparent;
                    border: none;
                    border-radius: 8px;
                    outline: none;

                    &:hover {
                        color: $font-color  !important;

                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: -50px;
                        width: 0;
                        height: 100%;
                        background-color: #fff !important;
                        transform: skewX(35deg);
                        z-index: -1;
                        transition: width 1s;
                    }

                    &:hover::before {
                        width: 150%;
                    }

                    p {
                        font-weight: 16px !important;
                    }
                }
            }
        }
    }

    video {
        padding-right: 14%;

        source {
            height: 390px;
            width: 100%;
        }
    }

    #galery-area {
        h1 {
            text-align: center;
            color: #fff;
        }

        img {
            width: 20rem;
            border-radius: 10px;

        }
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;
        cursor: pointer;

        p:hover {
            color: $text-hover-color;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}

//Phone Portrait  
@media screen and (max-width: 400px) {
    header {
        nav {
            .logo {

                img {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }

    main {
        #carousel {
            .carousel-item {
                height: 300px !important;

                img {
                    height: 100% !important;
                }
            }
        }

        #about-area {
            .image {
                width: 355px !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                min-width: 355px !important;
                min-height: 450px !important;

            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }
}

//Phone Landscape
@media screen and (min-width: 400px) and (max-width: 600px) {
    header {
        nav {
            .logo {

                img {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }

    main {
        #carousel {
            .carousel-item {
                height: 300px !important;

                img {
                    height: 100% !important;
                }
            }
        }

        #about-area {
            .image {
                width: 385px !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                min-width: 385px !important;
                min-height: 450px !important;

            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {}

// Table Portrait 
@media screen and (min-width: 600px) and (max-width: 768px) {
    header {
        nav {
            .logo {
                margin-right: 35%;
                margin-top: 2% !important;

                img {
                    width: 340px !important;
                    height: 240px !important;
                }
            }
        }
    }

    main {
        #carousel {
            .carousel-item {
                height: 300px !important;

                img {
                    height: 100% !important;
                }
            }
        }

        #about-area {
            .image {
                width: 355px !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                width: 355px !important;
                min-height: 460px !important;

            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }

}

//Table  Landscape
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        nav {
            .logo {
                margin-right: 35%;
                margin-top: -5%;

                img {
                    width: 350px !important;
                    height: 250px !important;
                }
            }
        }
    }

    main {
        #carousel {
            .carousel-item {
                height: 300px !important;

                img {
                    height: 100% !important;
                }
            }
        }

        #about-area {
            .image {
                width: 355px !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                width: 355px !important;
                min-height: 460px !important;

            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }
}

//Table  Landscape
@media screen and (min-width: 992px) and (max-width: 1024px) {
    header {
        nav {
            .logo {
                img {
                    margin-left: 30%;
                    width: 340px !important;
                    height: 240px !important;
                }
            }

            ul {

                margin-left: 3%;
            }
        }
    }

    main {
        #carousel {
            .carousel-item {
                height: 350px !important;

                img {
                    height: 100% !important;
                }
            }
        }

        #about-area {
            .image {
                width: 470px !important;
                height: 400px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                text-align: center !important;
                width: 470px !important;
                min-height: 460px !important;

                hr {
                    width: 50%;
                    margin-left: 25%;
                }


            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}