* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  padding: 0px !important;
  margin-top: -2%;
}

header nav .logo {
  width: 200px;
  height: 200px;
}

header nav .logo img {
  width: 100%;
  height: 100%;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav .login-trigger {
  font-weight: bold;
  color: #fff;
  background-color: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
}

header nav .login-trigger .close {
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav .login-trigger .modal-content {
  background-color: linear-gradient(to bottom right, #F87E7B, #B05574);
}

header nav .login-trigger .modal-content .modal-body {
  position: relative;
}

header nav .login-trigger .modal-content .modal-body {
  background-color: #d5b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

header nav .login-trigger .modal-content h1 {
  font-weight: bold;
  margin: 0;
}

header nav .login-trigger .modal-content p {
  text-align: center;
}

header nav .login-trigger .modal-content p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

header nav .login-trigger .modal-content span {
  font-size: 12px;
}

header nav .login-trigger .modal-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin: 15px 0;
}

header nav .login-trigger .modal-content button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

header nav .login-trigger .modal-content button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

header nav .login-trigger .modal-content button:focus {
  outline: none;
}

header nav .login-trigger .modal-content button .ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

header nav .login-trigger .modal-content button form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

header nav .login-trigger .modal-content button input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

header nav .login-trigger .modal-content button .container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

header nav .login-trigger .modal-content button .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

header nav .login-trigger .modal-content button .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

header nav .login-trigger .modal-content button .container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header nav .login-trigger .modal-content button .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

header nav .login-trigger .modal-content button .container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show .6s;
          animation: show .6s;
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

header nav ul li {
  position: relative;
  padding: 38px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header nav ul li i,
header nav ul li span {
  cursor: pointer;
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}

header nav ul li ul li i {
  font-size: 10px !important;
}

header nav ul li ul li ul {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 0;
  left: 100%;
}

header nav ul li ul li #input-search {
  border: none;
}

header nav ul li ul li #input-search:focus {
  outline: none;
}

header nav ul li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
}

header nav ul li .dropdown {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

header nav ul li .dropdown ul {
  width: auto;
  visibility: visible;
  position: relative;
}

header nav ul li .dropdown ul li {
  padding: 5px 0;
  font-size: 12px;
}

header nav ul li .dropdown ul li a {
  text-decoration: none;
  padding: 0 !important;
}

header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header nav ul li:hover ul a {
  text-decoration: none;
}

header nav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

header nav ul .shop-cart a {
  text-decoration: none;
}

header nav ul .shop-cart sup {
  padding: 2px 2px;
  color: white;
  background-color: #f34f3f;
}

header nav ul .shop-cart ul {
  top: 20px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

main #carousel .carousel-item {
  height: 700px !important;
}

main #carousel .carousel-item img {
  height: 100% !important;
}

main #about-area {
  background-color: rgba(255, 255, 255, 0.538);
  border-radius: 10px;
}

main #about-area .image {
  width: 600px;
  height: 500px;
}

main #about-area .image img {
  width: 100%;
  height: 100%;
}

main #about-area .content {
  color: black;
  margin-right: 15%;
  cursor: pointer;
}

main #about-area .content a {
  text-decoration: none;
  color: black;
}

main #about-area .content hr {
  height: 3px;
  color: red;
}

main #products-area h2 {
  color: white;
  text-align: center;
}

main #products-area .card {
  margin-top: 10px;
  width: 18rem;
  background-color: transparent;
  border: none;
  color: white;
}

main #products-area .card .card-img-top {
  border-radius: 10px;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

main #products-area .card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #products-area .card .card-body .card-title {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

main #products-area .card .card-body .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  outline: 2px solid #fff;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: none;
}

main #products-area .card .card-body .btn:hover {
  color: #333232 !important;
}

main #products-area .card .card-body .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff !important;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  z-index: -1;
  -webkit-transition: width 1s;
  transition: width 1s;
}

main #products-area .card .card-body .btn:hover::before {
  width: 150%;
}

main #products-area .card .card-body .btn p {
  font-weight: 16px !important;
}

main video {
  padding-right: 14%;
}

main video source {
  height: 390px;
  width: 100%;
}

main #galery-area h1 {
  text-align: center;
  color: #fff;
}

main #galery-area img {
  width: 20rem;
  border-radius: 10px;
}

.footer {
  padding: 30px;
  color: white;
}

.footer ul {
  list-style: none;
  cursor: pointer;
}

.footer ul p:hover {
  color: #a21d1d;
}

.footer ul a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.footer ul a:hover {
  color: #a21d1d;
}

@media screen and (max-width: 400px) {
  header nav .logo img {
    width: 150px !important;
    height: 150px !important;
  }
  main #carousel .carousel-item {
    height: 300px !important;
  }
  main #carousel .carousel-item img {
    height: 100% !important;
  }
  main #about-area .image {
    width: 355px !important;
    height: 300px !important;
  }
  main #about-area .image img {
    width: 100% !important;
    height: 100% !important;
  }
  main #about-area .content {
    text-align: center !important;
    min-width: 355px !important;
    min-height: 450px !important;
  }
  main #about-area .content hr {
    width: 50%;
    margin-left: 25%;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  header nav .logo img {
    width: 150px !important;
    height: 150px !important;
  }
  main #carousel .carousel-item {
    height: 300px !important;
  }
  main #carousel .carousel-item img {
    height: 100% !important;
  }
  main #about-area .image {
    width: 385px !important;
    height: 300px !important;
  }
  main #about-area .image img {
    width: 100% !important;
    height: 100% !important;
  }
  main #about-area .content {
    text-align: center !important;
    min-width: 385px !important;
    min-height: 450px !important;
  }
  main #about-area .content hr {
    width: 50%;
    margin-left: 25%;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  header nav .logo {
    margin-right: 35%;
    margin-top: 2% !important;
  }
  header nav .logo img {
    width: 340px !important;
    height: 240px !important;
  }
  main #carousel .carousel-item {
    height: 300px !important;
  }
  main #carousel .carousel-item img {
    height: 100% !important;
  }
  main #about-area .image {
    width: 355px !important;
    height: 300px !important;
  }
  main #about-area .image img {
    width: 100% !important;
    height: 100% !important;
  }
  main #about-area .content {
    text-align: center !important;
    width: 355px !important;
    min-height: 460px !important;
  }
  main #about-area .content hr {
    width: 50%;
    margin-left: 25%;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav .logo {
    margin-right: 35%;
    margin-top: -5%;
  }
  header nav .logo img {
    width: 350px !important;
    height: 250px !important;
  }
  main #carousel .carousel-item {
    height: 300px !important;
  }
  main #carousel .carousel-item img {
    height: 100% !important;
  }
  main #about-area .image {
    width: 355px !important;
    height: 300px !important;
  }
  main #about-area .image img {
    width: 100% !important;
    height: 100% !important;
  }
  main #about-area .content {
    text-align: center !important;
    width: 355px !important;
    min-height: 460px !important;
  }
  main #about-area .content hr {
    width: 50%;
    margin-left: 25%;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  header nav .logo img {
    margin-left: 30%;
    width: 340px !important;
    height: 240px !important;
  }
  header nav ul {
    margin-left: 3%;
  }
  main #carousel .carousel-item {
    height: 350px !important;
  }
  main #carousel .carousel-item img {
    height: 100% !important;
  }
  main #about-area .image {
    width: 470px !important;
    height: 400px !important;
  }
  main #about-area .image img {
    width: 100% !important;
    height: 100% !important;
  }
  main #about-area .content {
    text-align: center !important;
    width: 470px !important;
    min-height: 460px !important;
  }
  main #about-area .content hr {
    width: 50%;
    margin-left: 25%;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}
/*# sourceMappingURL=home.css.map */