* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

$color: #f34f3f;
$text-hover-color: rgb(162, 29, 29);
$font-color: #fff;

 

main {
    #slider {
        position: relative;
        .slider {
            img {
                min-height: 400px;
                width: 100% !important;
            }
        }
    
    }

    #about-area {
        background-color: rgba(255, 255, 255, 0.538);
        border-radius: 10px;

        .image {
            width: 600px;
            height: 500px;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .content {
            color: black;
            margin-right: 15%;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $font-color;
            }

            hr {
                height: 3px;
                color: red;
            }
        }
    }


    #products-area {
        h2 {
            color: $font-color;
            text-align: center;
            a{
                text-decoration: none;
                color: #fff;
            }
        }

        .card {
            margin-top: 10px;
            width: 18rem;
            background-color: transparent;
            border: none;
            color: $font-color;

            .card-img-top {
                border-radius: 10px;
                transition: transform .75s;
            }

            &:hover .card-img-top {
                transform: scale(1.1);
            }

            .card-body {

                .card-title {
                    text-decoration: none;
                    color: $font-color;
                    font-size: 24px;
                    font-weight: bolder;
                }

                .btn {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: $font-color;
                    outline: 2px solid #fff;
                    padding: 10px 40px;
                    position: relative;
                    overflow: hidden;
                    transition: color 1s;
                    background-color: transparent;
                    border: none;
                    border-radius: 8px;
                    outline: none;

                    &:hover {
                        color: $font-color  !important;

                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: -50px;
                        width: 0;
                        height: 100%;
                        background-color: #fff !important;
                        transform: skewX(35deg);
                        z-index: -1;
                        transition: width 1s;
                    }

                    &:hover::before {
                        width: 150%;
                    }

                    p {
                        font-weight: 16px !important;
                    }
                }
            }
        }
    }

    video {
        padding-right: 14%;

        source {
            height: 390px;
            width: 100%;
        }
    }

    #galery-area {
        h1 {
            text-align: center;

            a {
                text-decoration: none;
                color: $font-color;
            }
        }

        img {
            width: 20rem;
            border-radius: 10px;

        }
    }
}




 

//Phone Portrait  
@media screen and (max-width: 400px) {
   

    main {
        

        #about-area {
            padding: -2%;
            width: 22rem;

            .image {
                min-width: 21rem;
                max-width: 21.5rem !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center;
                width: 21.5rem !important;
                max-width: 22rem !important;
                min-height: 450px !important;
            }
        }

        #products-area {
            .card {
                width: 22rem;
                max-width: 26em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;

                    text-align: center;
                }
            }
        }

        .video {
            width: 25.5rem;

        }

        #galery-area {
            img {
                width: 22rem;
            }
        }

    }
}

//Phone Landscape
@media screen and (min-width: 401px) and (max-width: 600px) {
    

    main {
        

        #about-area {
            .image {
                width: 24.2rem !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                min-width: 390px !important;
                min-height: 450px !important;

            }
        }

        #products-area {
            .card {
                width: 24.5rem;
                max-width: 28em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .video {
            width: 28.5rem;

        }

        #galery-area {
            img {
                width: 24.5rem;
            }
        }

    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {}

// Table Portrait 
@media screen and (min-width: 600px) and (max-width: 768px) {
    

    main {
        

        #about-area {
            .image {
                width: 355px !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                width: 355px !important;
                min-height: 460px !important;

            }
        }

        #shop {
            .card {
                max-width: 22em !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }

        .video {
            display: none !important;
        }

    }

}

//Table  Landscape
@media screen and (min-width: 768px) and (max-width: 992px) {
   

    main {
         

        #about-area {
            position: relative;
            left: -8%;
            background-color: transparent;
            width: 46.2rem !important;

            .image {
                width: 21.1rem !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                min-width: 21.1rem !important;
                min-height: 450px !important;
                position: relative;
                right: 10%;
            }
        }

        #products-area {
            .card {
                width: 34rem;
                max-width: 36rem !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .video {
            width: 56rem;
            position: relative;
            right: 25%;
        }

        #galery-area {
            img {
                width: 36rem;
            }
        }

    }
}

//Table  Landscape
@media screen and (min-width: 992px) and (max-width: 1024px) {
     

    main {
         

        #about-area {
            position: relative;
            left: -2%;
            background-color: transparent;
            width: 57rem !important;

            .image {
                width: 27rem !important;
                height: 300px !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .content {
                hr {
                    width: 50%;
                    margin-left: 25%;
                }

                text-align: center !important;
                min-width: 28rem !important;
                min-height: 450px !important;
                position: relative;
                right: 5%;
            }
        }

        #products-area {
            .card {
                width: 34rem;
                max-width: 21rem !important;

                .card-body {
                    a {
                        font-size: 1.25em !important;
                    }

                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .video {
            width: 56rem;
            position: relative;
            right: 5%;
        }

        #galery-area {
            img {
                width: 22rem;
            }
        }

    }
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}