* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header ul a {
  color: white !important;
  font-size: 1.2em;
  padding: 20px;
}

#header ul a:hover {
  color: #f7b035 c;
}

#header .right-box {
  display: inline;
}

#header .right-box li {
  list-style: none;
  display: inline;
}

#header .right-box li a {
  text-decoration: none !important;
  padding: 10px;
  color: red;
}

#header .right-box li a img sub {
  color: red !important;
}

#carousel .carousel .carousel-item {
  position: relative;
}

#carousel .carousel .carousel-item img {
  width: 100%;
  height: 700px;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

#carousel .carousel .carousel-item .first {
  color: #2b2b2b;
  top: 50px;
  left: -400px;
  position: absolute;
}

#carousel .carousel .carousel-item .first .offer {
  font-size: 14px;
}

#carousel .carousel .carousel-item .first .offer b {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
  background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
  color: #038e42;
  border-radius: 3.125rem;
  font-size: 20px;
}

main .about .content {
  cursor: pointer;
}

main .about .content h2 {
  color: white;
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 24px;
}

main .about .content h3 {
  font-size: 24px;
  color: #f7b035;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

main #products {
  overflow: hidden;
  color: #f7b035;
}

main #products .image {
  height: 1000px;
}

main #products .image img {
  width: 100%;
  height: 80%;
}

main #products .about a {
  text-decoration: none;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  font-size: x-large;
  color: #f7b035;
  position: relative;
  margin-left: 30%;
}

main #products .about a::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7b035;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

main #products .about a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

main #products .about .content {
  color: white;
  margin-left: 15%;
}

main #shop .card {
  margin-top: 10px;
  width: 18rem;
  background-color: transparent;
  border: none;
  color: #6e562c;
}

main #shop .card .card-img-top {
  border-radius: 10px;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

main #shop .card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #shop .card .card-body .card-title {
  text-decoration: none;
  color: #6e562c;
  font-size: 24px;
  font-weight: bolder;
}

main #shop .card .card-body .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6e562c;
  outline: 2px solid #fff;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: none;
}

main #shop .card .card-body .btn:hover {
  color: #6e562c !important;
}

main #shop .card .card-body .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff !important;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  z-index: -1;
  -webkit-transition: width 1s;
  transition: width 1s;
}

main #shop .card .card-body .btn:hover::before {
  width: 150%;
}

main #shop .card .card-body .btn p {
  font-weight: 16px !important;
}

@media screen and (min-width: 320px) {
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
  .about h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
  .about h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (max-width: 768px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
    font-size: 16px;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (max-width: 1024px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
  #products .image {
    height: 800px;
  }
}
/*# sourceMappingURL=home.css.map */