* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d7cdcd;
}

header {
  height: 100px;
}

header nav {
  padding: 0px !important;
}

header nav .logo img {
  width: 100px;
  height: 100px;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul li {
  position: relative;
  padding: 38px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header nav ul li i,
header nav ul li span {
  cursor: pointer;
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}

header nav ul li ul li i {
  font-size: 10px !important;
}

header nav ul li ul li ul {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 0;
  left: 100%;
}

header nav ul li ul li #input-search {
  border: none;
}

header nav ul li ul li #input-search:focus {
  outline: none;
}

header nav ul li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
}

header nav ul li .dropdown {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

header nav ul li .dropdown ul {
  width: auto;
  visibility: visible;
  position: relative;
}

header nav ul li .dropdown ul li {
  padding: 5px 0;
  font-size: 12px;
}

header nav ul li .dropdown ul li a {
  text-decoration: none;
  padding: 0 !important;
}

header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header nav ul li:hover ul a {
  text-decoration: none;
}

header nav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

header nav ul .shop-cart a {
  text-decoration: none;
}

header nav ul .shop-cart sup {
  padding: 2px 2px;
  color: white;
  background-color: #f34f3f;
}

header nav ul .shop-cart ul {
  top: 20px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

main .about-area .content {
  cursor: pointer;
}

main .about-area .content h2 {
  color: white;
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-size: 24px;
}

main .about-area .content h3 {
  font-size: 24px;
  color: #a21d1d;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

main #products {
  overflow: hidden;
  color: #a21d1d;
}

main #products .image {
  height: 1000px;
}

main #products .image img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

main #products .about a {
  text-decoration: none;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  font-size: x-large;
  color: white;
  position: relative;
  margin-left: 30%;
}

main #products .about a::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a21d1d;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

main #products .about a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

main #products .about .content {
  color: white;
  margin-left: 15%;
}

main #shop .card {
  margin-top: 10px;
  width: 18rem;
  background-color: transparent;
  border: none;
  color: white;
}

main #shop .card .card-img-top {
  border-radius: 10px;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

main #shop .card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #shop .card .card-body .card-title {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

main #shop .card .card-body .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  outline: 2px solid #fff;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: none;
}

main #shop .card .card-body .btn:hover {
  color: #a21d1d !important;
}

main #shop .card .card-body .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff !important;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  z-index: -1;
  -webkit-transition: width 1s;
  transition: width 1s;
}

main #shop .card .card-body .btn:hover::before {
  width: 150%;
}

main #shop .card .card-body .btn p {
  font-weight: 16px !important;
}

main video {
  padding-right: 14%;
}

main video source {
  height: 390px;
  width: 100%;
}

.footer {
  padding: 30px;
  color: white;
}

.footer ul {
  list-style: none;
  cursor: pointer;
}

.footer ul p:hover {
  color: #a21d1d;
}

.footer ul a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.footer ul a:hover {
  color: #a21d1d;
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  main .about-area h3 {
    font-size: 16px;
  }
  main #shop .card {
    max-width: 22em !important;
  }
  main #shop .card .card-body {
    font-size: 1.25em !important;
    font-weight: bolder !important;
    font-style: italic;
  }
  main #shop .card .card-body a {
    font-size: 1.25em !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  header nav .logo img {
    width: 100px !important;
    height: 100px !important;
  }
  #carousel .carousel-item {
    width: 414px !important;
  }
  main .about-area .text {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: none !important;
        flex-wrap: none !important;
  }
  main .about-area h3 {
    font-size: 16px;
  }
  main #products .about {
    position: relative;
    height: 400px;
    color: black !important;
  }
  main #shop .card {
    width: 24rem !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-left: 1% !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  main .shop .card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-left: 15px;
  }
  main #products .image {
    height: 800px;
  }
  main #products .about {
    margin-top: -15%;
    margin-right: 5% !important;
  }
  main .video {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  main #products .image {
    height: 800px;
  }
  main #products .about {
    position: relative;
    left: 1%;
  }
  main .video {
    display: none !important;
  }
}
/*# sourceMappingURL=home.css.map */