* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

$color: #f34f3f;
$background-color: rgb(250, 246, 246);
$text-hover-color: rgb(162, 29, 29);
$font-color: rgb(51, 50, 50);
$header-font-color: rgb(162, 29, 29);


header {
    height: 100px;


    nav {
        padding: 0px !important;

        .logo {
            width: 200px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }

        ul {
            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: black !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: black;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 115px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }


                }

                .dropdown {
                    transition: opacity .5s;
                    background-color: white;
                    position: absolute;
                    top: 20px;
                    width: 100%;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        visibility: visible;
                        position: relative;

                        //top: 10px;
                        li {
                            padding: 5px 0;
                            font-size: 12px;

                            a {
                                text-decoration: none;
                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;

                        a {
                            text-decoration: none;
                        }
                    }

                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }
            }

            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 1px 3px;
                    color: white;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 10px;
                    }
                }
            }
        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

#login-area {
    .login {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        margin-left: 30%; 
        margin-top:5%;
        h2 {
            margin-top: 1%;
            text-align: center;
        }
        form {
            margin-left: 20%;
            margin-top: 5%;
            input {
                width: 60% !important;
                outline: none !important;
                background-color: rgba(255, 255, 255, 0.45);
                border: none    ;
            }
            a {
                position: relative;
                color: #065b93 !important;
                font-weight: bolder;
                text-decoration: none;

                &::after {
                    content: "";
                    transition: width .3s;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1.5px;
                    background-color: #065b93;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }

                    text-decoration: none;
                }
            }
        }
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;
        cursor: pointer;

        p:hover {
            color: $text-hover-color;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}

//Phone Portrait  
@media screen and (max-width: 400px) {
    header {
        nav {
            max-width: 350px;

            .logo {

                img {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }

    main {
        #login-area {
            max-width: 350px;
            .login {
                max-width: 330px;
                box-shadow: none !important;
                position: relative;
                right: 29%;
                color: white !important;
                height: 300px;
                input {
                    background-color: rgba(255, 255, 255, 0.205);
                    border: none;
                    outline: none !important;
                }
            }
        }

    }
}

//Phone Landscape
@media screen and (min-width: 401px) and (max-width: 600px) {
    header {
        nav {
            .logo {

                img {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }

    main {
        #login-area {
            max-width: 350px;

            .login { 
                max-width: 400px;
                box-shadow: none !important;
                position: relative;
                right: 5%;
                color: white !important;
                height: 300px;
                input {
                    background-color: rgba(255, 255, 255, 0.205);
                    border: none;
                    outline: none !important;
                }
            }
        }

    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {}

// Table Portrait 
@media screen and (min-width: 600px) and (max-width: 769px) {
    header {
        nav {
            .logo {
                margin-right: 35%; 
                max-width:760px;
                img {
                    width: 200px !important;
                    height: 200px !important;
                }
            }
        }
    }

    main {
        #login-area {
            max-width: 350px;
            margin-top: 12%;
            position: relative;
            left: 3%;
            .login {
                background-color: rgba(255, 255, 255, 0.205);
                max-width: 745px;
                box-shadow: none !important;
                
                color: white !important;
                text-align: center;
                height: 340px;
                input {
                    background-color: rgba(255, 255, 255, 0.352);
                    border: none;
                    outline: none !important;
                    position: relative;
                    right: -2%;
                }
            }
        }

    }

}

//Table  Landscape
@media screen and (min-width: 770px) and (max-width: 992px) {
    header {
        nav {
            .logo {
                margin-right: 35%;
                margin-top: -5%;

                img {
                    width: 250px !important;
                    height: 250px !important;
                }
            }
        }
    }

    main {
        #login-area {
            max-width: 350px;
            margin-top: 10%;

            .login {
                background-color: rgba(255, 255, 255, 0.205);
                max-width: 780px;
                box-shadow: none !important;
                position: relative;
                right: 7%;
                color: white !important;
                text-align: center;e
                input {
                    background-color: rgba(255, 255, 255, 0.352);
                    border: none;
                    outline: none !important;
                    position: relative;
                    right: -2%;
                }
            }
        }

    }
}

//Table  Landscape
@media screen and (min-width: 992px) and (max-width: 1024px) {
    header {
        nav {
            .logo {
                img {
                    margin-left: 30%;
                    width: 340px !important;
                    height: 240px !important;
                }
            }

            ul {

                margin-left: 3%;
            }
        }
    }
 
}

//Desktop
@media screen and (min-width: 1224px) {}

// Large Desktop
@media screen and (min-width: 1824px) {}