* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    ::selection {
        color: #ff0000;
    }
}

$background-color: rgb(23, 110, 88);
$text-hover-color: rgb(247, 176, 53);
$font-color: rgb(110, 86, 44);
$main-font-color:#fff;
#header {
    ul {
        a {
            color: white !important;
            font-size: 1.2em;
            padding: 20px;

            &:hover {
                color: $text-hover-color  !important;
            }
        }
    }

    main {
        #shop-area {
            color: white;
        }
    }

    .right-box {
        display: inline;

        li {
            list-style: none;
            display: inline;

            a {
                text-decoration: none !important;
                padding: 10px;

            }
        }
    }
}

main {
    hr {
        color: rgb(247, 176, 53);
        height: 5px;
    }

    .filter-area {
        color: white;

        input {
            outline: none;
        }

        .name {
            width: 5px;
            height: 25px;
            background-color: rgb(247, 176, 53);

            h6 {
                margin-left: 10px;
            }
        }
    }

    .search-sorting {
        .sorting-box {
            width: 300px;
            .form-select {
                background-color: transparent;
                border: none;
                outline:none !important; 
            }
            
        }
        .search-box {
            .search {
                display: inline;
                border: 2px solid #ccc;
                border-radius: 100px;
                padding: 10px 15px;
                transition: background-color 0.5 ease-in-out;
                border: none;
                background-color: transparent;
                width: 200px;
                color: black;;
                &:focus {
                    outline: none;
                }
            }
            ::placeholder {
                color: black;
                opacity: 1;
            }

            button,
            i {
                border: none;
                background: none;
                cursor: pointer;
                color: black;
            }
        }

    }
    #shop-area {
        .card {
            margin-top: 10px;
            width: 18rem;
            background-color: transparent;
            border: none;
            color: white;

            .card-img-top {
                border-radius: 10px;
                transition: transform .75s;
            }

            &:hover .card-img-top {
                transform: scale(1.1);
                box-shadow: 20px 20px 20px rgb(18, 91, 73);

            }
           
            .card-body {

                .card-title {
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    font-weight: bolder;
                }

                .btn {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: white;
                    outline: 2px solid #fff;
                    padding: 10px 40px;
                    position: relative;
                    overflow: hidden;
                    transition: color 1s;
                    background-color: transparent;
                    border: none;
                    border-radius: 8px;
                    outline: none;

                    &:hover {
                        color: $font-color !important;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: -50px;
                        width: 0;
                        height: 100%;
                        background-color: #fff !important;
                        transform: skewX(35deg);
                        z-index: -1;
                        transition: width 1s;
                    }

                    &:hover::before {
                        width: 150%;
                    }

                    p {
                        font-weight: 16px !important;
                    }
                }
            }
        }     
    }
    .pagination{
        background-color:transparent;
        ul{
            display: inline;
            li{
                a{
                    color:$main-font-color;
                    text-decoration: none;
                }
                padding: 10px;
                display: inline;
                list-style: none;
            }
        }
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: white;
            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}


//Phone Portrait & Landscape
@media screen and(min-width: 320px) and(max-width: 480px) {
    #header {
        ul {
            a {

                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }
}

//Phone Portrait  
@media screen and(max-width: 320px) {
    #header {
        ul {
            a {

                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }
}

//Phone Landscape
@media screen and (max-width: 480px) {
    #header {
        background-color: $background-color  !important;

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }

}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {
    #header {
        background-color: $background-color  !important;

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }

                i {
                    margin-top: 10px;
                }

                .count {
                    position: absolute;
                    top: 5.3%;
                    right: 13.4%;
                }
            }
        }
    }

}

// Table Portrait 
@media screen and(max-width: 768px) {
    #header {
        background-color: $background-color  !important;

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;
                font-size: 16px;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }
}

//Table  Landscape
@media screen and(max-width: 1024px) {
    #header {
        background-color: $background-color  !important;

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;
                padding-top: 30px !important;

                &:hover {
                    color: $text-hover-color  !important;
                }

                i {
                    margin-top: 10px;
                }
            }
        }
    }
}