* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  padding: 0px !important;
  margin-top: -2%;
}

header nav .logo {
  width: 200px;
  height: 200px;
}

header nav .logo img {
  width: 100%;
  height: 100%;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul .drop a {
  color: black !important;
  font-size: 15px;
}

header nav ul li {
  position: relative;
  padding: 38px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: white !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: white;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header nav ul li i,
header nav ul li span {
  cursor: pointer;
}

header nav ul li .login-trigger {
  text-decoration: none;
}

header nav ul li .modal {
  padding-right: 22%;
}

header nav ul li .modal .close {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: transparent;
  border: none;
}

header nav ul li .modal .modal-content {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 115vh;
  border-radius: 20px;
}

header nav ul li .modal .modal-body {
  position: relative;
  background-color: transparent;
  width: 110vh;
}

header nav ul li .modal h1 {
  font-weight: bold;
  margin: 0;
  color: #0a6c0a;
}

header nav ul li .modal p {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: #033c03;
}

header nav ul li .modal span {
  font-size: 12px;
}

header nav ul li .modal a {
  color: #0a6c0a;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

header nav ul li .modal a:hover {
  text-decoration: underline;
  color: #0a6c0a;
}

header nav ul li .modal button {
  border: none;
  background-color: transparent;
  color: #033c03;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

header nav ul li .modal button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

header nav ul li .modal button:focus {
  outline: none;
}

header nav ul li .modal button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

header nav ul li .modal form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 70vh;
  text-align: center;
}

header nav ul li .modal input {
  background-color: transparent;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  color: #033c03;
  outline: none;
}

header nav ul li .modal .container {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

header nav ul li .modal .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

header nav ul li .modal .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

header nav ul li .modal .container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header nav ul li .modal .container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

header nav ul li .modal .container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

header nav ul li .modal .container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

header nav ul li .modal .container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header nav ul li .modal .container.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

header nav ul li .modal .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

header nav ul li .modal .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

header nav ul li .modal .overlay {
  background-color: transparent;
  background-position: 0 0;
  color: #033c03;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

header nav ul li .modal .overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

header nav ul li .modal .overlay-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

header nav ul li .modal .overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}

header nav ul li ul li i {
  font-size: 10px !important;
}

header nav ul li ul li ul {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 0;
  left: 100%;
}

header nav ul li ul li #input-search {
  border: none;
}

header nav ul li ul li #input-search:focus {
  outline: none;
}

header nav ul li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
}

header nav ul li .dropdown {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

header nav ul li .dropdown ul {
  width: auto;
  visibility: visible;
  position: relative;
}

header nav ul li .dropdown ul li {
  padding: 5px 0;
  font-size: 12px;
}

header nav ul li .dropdown ul li a {
  text-decoration: none;
  padding: 0 !important;
}

header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header nav ul li:hover ul a {
  text-decoration: none;
}

header nav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

header nav ul .shop-cart a {
  text-decoration: none;
}

header nav ul .shop-cart sup {
  padding: 2px 2px;
  color: white;
  background-color: #f34f3f;
}

header nav ul .shop-cart ul {
  top: 20px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

#top-area {
  height: 600px;
}

#top-area .content {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
}

#top-area .content #wrapper {
  display: table;
  width: 100%;
}

#top-area .content #wrapper #wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 50%;
}

#top-area .content #wrapper #wrapper-inner #scroll-down {
  display: block;
  position: relative;
  padding-top: 45px;
  text-align: center;
}

#top-area .content #wrapper #wrapper-inner #scroll-down .arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 18px;
}

#top-area .content #wrapper #wrapper-inner #scroll-down .arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  behavior: url(-ms-transform.htc);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#top-area .content #wrapper #wrapper-inner #scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: 1px;
  width: .1rem;
  height: 50px;
  background: white;
  content: ' ';
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

#top-area .content .text {
  padding: 100px;
}

#top-area .content .text a {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  cursor: pointer;
  color: white;
  text-decoration: none;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

#top-area .content .text a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: white;
}

#top-area .content .text a:hover {
  text-decoration: none;
}

#top-area .content .text a:hover::after {
  width: 100%;
}

#top-area .content .image {
  width: 100%;
  height: 90%;
  margin-left: 1.2%;
}

#top-area .content .image img {
  width: 100%;
  height: 100%;
}

#process .card {
  background-color: transparent !important;
  border: none;
  color: white;
  cursor: pointer;
  background-color: red;
}

#process .card img {
  height: 100%;
}

.footer {
  padding: 30px;
  color: white;
}

.footer ul {
  list-style: none;
  cursor: pointer;
}

.footer ul p:hover {
  color: #a21d1d;
}

.footer ul a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.footer ul a:hover {
  color: #a21d1d;
}

@media screen and (max-width: 400px) {
  header nav {
    padding-right: 25% !important;
    width: 350px;
  }
  header nav .logo img {
    position: relative;
    left: 14%;
    bottom: 35%;
    width: 250px !important;
    height: 250px !important;
  }
  #top-area .content {
    width: 110%;
    height: 400px !important;
  }
  #top-area .content .image {
    width: 21.5em;
    margin-bottom: 15%;
  }
  #top-area .content .image img {
    width: 100%;
  }
  #top-area .content .text {
    height: 250px;
    padding: 5% !important;
  }
  #process {
    margin-top: -15%;
  }
  #process .card img {
    width: 16em !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  header nav {
    padding-right: 25% !important;
    width: 400px;
  }
  header nav .logo img {
    position: relative;
    left: 7%;
    bottom: 32%;
    width: 250px !important;
    height: 250px !important;
  }
  #top-area .content {
    width: 400px;
    height: 400px !important;
  }
  #top-area .content .image {
    width: 22em;
    margin-bottom: 15%;
  }
  #top-area .content .image img {
    width: 100%;
  }
  #top-area .content .text {
    height: 250px;
    padding: 5% !important;
  }
  #process {
    margin-top: -15%;
  }
  #process .card img {
    width: 18em !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  header nav {
    padding-right: 25% !important;
    width: 790px;
  }
  header nav .logo img {
    position: relative;
    right: 10%;
    bottom: 35%;
    width: 300px !important;
    height: 300px !important;
  }
  #top-area .content {
    width: 400px;
    height: 400px !important;
  }
  #top-area .content .image {
    width: 22em;
    margin-bottom: 15%;
  }
  #top-area .content .image img {
    width: 100%;
  }
  #top-area .content .text {
    height: 250px;
    padding: 5% !important;
  }
  #process {
    margin-top: -15%;
  }
  #process .card img {
    width: 18em !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav {
    padding-right: 25% !important;
    width: 790px;
  }
  header nav .logo img {
    position: relative;
    right: 10%;
    bottom: 35%;
    width: 300px !important;
    height: 300px !important;
  }
  #top-area .content {
    width: 800px;
    height: 400px !important;
    position: relative;
    top: 9%;
  }
  #top-area .content .image {
    width: 33.5em;
  }
  #top-area .content .image img {
    width: 100%;
  }
  #top-area .content .text {
    height: 450px;
    padding: 5% !important;
  }
  #process {
    margin-top: -15%;
  }
  #process .card img {
    width: 30em !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  header nav .logo {
    position: relative;
  }
  header nav .logo img {
    width: 150px !important;
    height: 150px !important;
  }
  header nav ul {
    position: absolute;
    top: -5%;
    left: 12%;
  }
  #top-area .content {
    width: 800px;
    height: 400px !important;
  }
  #top-area .content .image {
    width: 44em;
  }
  #top-area .content .image img {
    width: 100%;
  }
  #top-area .content .text {
    height: 450px;
    padding: 5% !important;
  }
  #process {
    margin-top: -15%;
  }
  #process .card img {
    width: 29em !important;
  }
}
/*# sourceMappingURL=production.css.map */