* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body ::-moz-selection {
  color: #ff0000;
}

body ::selection {
  color: #ff0000;
}

#header ul a {
  color: white !important;
  font-size: 1.2em;
  padding: 20px;
}

#header ul a:hover {
  color: #f7b035 !important;
}

#header main #shop-area {
  color: white;
}

#header .right-box {
  display: inline;
}

#header .right-box li {
  list-style: none;
  display: inline;
}

#header .right-box li a {
  text-decoration: none !important;
  padding: 10px;
}

main hr {
  color: #f7b035;
  height: 5px;
}

main .filter-area {
  color: white;
}

main .filter-area input {
  outline: none;
}

main .filter-area .name {
  width: 5px;
  height: 25px;
  background-color: #f7b035;
}

main .filter-area .name h6 {
  margin-left: 10px;
}

main .search-sorting .sorting-box {
  width: 300px;
}

main .search-sorting .sorting-box .form-select {
  background-color: transparent;
  border: none;
  outline: none !important;
}

main .search-sorting .search-box .search {
  display: inline;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 10px 15px;
  -webkit-transition: background-color 0.5 ease-in-out;
  transition: background-color 0.5 ease-in-out;
  border: none;
  background-color: transparent;
  width: 200px;
  color: black;
}

main .search-sorting .search-box .search:focus {
  outline: none;
}

main .search-sorting .search-box ::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

main .search-sorting .search-box :-ms-input-placeholder {
  color: black;
  opacity: 1;
}

main .search-sorting .search-box ::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

main .search-sorting .search-box ::placeholder {
  color: black;
  opacity: 1;
}

main .search-sorting .search-box button,
main .search-sorting .search-box i {
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}

main #shop-area .card {
  margin-top: 10px;
  width: 18rem;
  background-color: transparent;
  border: none;
  color: white;
}

main #shop-area .card .card-img-top {
  border-radius: 10px;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

main #shop-area .card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 20px 20px 20px #125b49;
          box-shadow: 20px 20px 20px #125b49;
}

main #shop-area .card .card-body .card-title {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

main #shop-area .card .card-body .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  outline: 2px solid #fff;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: none;
}

main #shop-area .card .card-body .btn:hover {
  color: #6e562c !important;
}

main #shop-area .card .card-body .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff !important;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  z-index: -1;
  -webkit-transition: width 1s;
  transition: width 1s;
}

main #shop-area .card .card-body .btn:hover::before {
  width: 150%;
}

main #shop-area .card .card-body .btn p {
  font-weight: 16px !important;
}

main .pagination {
  background-color: transparent;
}

main .pagination ul {
  display: inline;
}

main .pagination ul li {
  padding: 10px;
  display: inline;
  list-style: none;
}

main .pagination ul li a {
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 30px;
  color: white;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.footer ul a:hover {
  color: #f7b035;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (max-width: 320px) {
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (max-width: 480px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
  #header ul a i {
    margin-top: 10px;
  }
  #header ul a .count {
    position: absolute;
    top: 5.3%;
    right: 13.4%;
  }
}

@media screen and (max-width: 768px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
    font-size: 16px;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
}

@media screen and (max-width: 1024px) {
  #header {
    background-color: #176e58 !important;
  }
  #header ul a {
    text-align: center !important;
    font: 1.2em sans-serif;
    color: white;
    padding-top: 30px !important;
  }
  #header ul a:hover {
    color: #f7b035 !important;
  }
  #header ul a i {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=products.css.map */