* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: rgb(215, 205, 205);
    overflow-x: hidden;
}

$color: #f34f3f;
$background-color: rgb(250, 246, 246);
$text-hover-color: rgb(162, 29, 29);
$font-color: rgb(162, 29, 29);
$header-font-color: rgb(162, 29, 29);
$background-color: rgb(23, 110, 88);
$text-hover-color: rgb(247, 176, 53);
$font-color: rgb(110, 86, 44);
$main-font-color: #fff;

header {
    height: 100px;

    nav {
        padding: 0px !important;

        .logo {
            img {
                width: 150px;
                height: 100px;
            }
        }

        #mobile-navbar-show {
            cursor: pointer;
            border: none;
        }

        ul {
            li {
                position: relative;
                padding: 38px 20px;

                a {
                    position: relative;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    color: black !important;
                    font-weight: 500;

                    &::after {
                        content: "";
                        transition: width .3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 1px;
                        background-color: black;
                    }

                    &:hover {
                        &::after {
                            width: 80%;
                        }

                        text-decoration: none;
                    }
                }

                .fa-search {
                    transform: rotateY(180deg);
                }

                i,
                span {
                    cursor: pointer;
                }

                ul {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 228px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;

                    li {
                        padding: 5px 30px;

                        i {
                            font-size: 10px !important;
                        }

                        ul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0;
                            left: 100%;
                        }

                        #input-search {
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                    }

                    .element {
                        ul {
                            top: 0;
                            left: -100%;
                        }
                    }
                }

                .elements {
                    li {
                        text-align: right;
                    }
                }

                .dropdown {
                    transition: opacity .3s;
                    background-color: white;
                    position: absolute;
                    top: 115px;
                    width: 100%;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;

                    ul {
                        width: auto;
                        opacity: 1;
                        visibility: visible;
                        position: relative;
                        top: 0;

                        li {

                            padding: 5px 0;

                            a {
                                text-decoration: none;

                                padding: 0 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }

                    .shop {
                        opacity: 1;
                        visibility: visible;
                        z-index: 99;
                    }
                }
            }

            .shop-cart {
                a {
                    text-decoration: none;
                }

                sup {
                    padding: 1px 3px;
                    color: white;
                    background-color: #f34f3f;
                }

                ul {
                    top: 20px;
                    left: -70%;

                    li {
                        font-size: 14px;
                    }
                }
            }
        }

    }

    .mobile-navbar {
        transition: all .3s;
        background-color: white;
        top: 0;
        right: 36px;
        width: 0;
        opacity: 0;
        visibility: hidden;

        .fa-times {
            position: absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;
            color: $color;
        }

        ul {
            li {
                margin-top: 20px;

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: .1em;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            ul {
                display: none;

                li {
                    margin-top: 0;

                    a {
                        padding: 0 !important;
                        text-transform: capitalize;
                        font-size: 12px;
                        letter-spacing: 0em;
                        color: lighten($color: black, $amount: 50);
                    }
                }

                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .mobile-navbar.active {
        width: 420px;
        visibility: visible;
        opacity: 1;
        right: 0;
        z-index: 9;
    }
}

main {
    .filter-area {
        color: white;

        input {
            outline: none;
        }

        .name {
            width: 5px;
            height: 25px;
            background-color: rgb(247, 176, 53);

            h6 {
                margin-left: 10px;
            }
        }
    }

    .search-sorting {
        .sorting-box {
            width: 300px;

            .form-select {
                background-color: transparent;
                border: none;
                outline: none !important;
            }

        }

        .search-box {
            .search {
                display: inline;
                border: 2px solid #ccc;
                border-radius: 100px;
                padding: 10px 15px;
                transition: background-color 0.5 ease-in-out;
                border: none;
                background-color: transparent;
                width: 200px;
                color: black;
                ;

                &:focus {
                    outline: none;
                }
            }

            ::placeholder {
                color: black;
                opacity: 1;
            }

            button,
            i {
                border: none;
                background: none;
                cursor: pointer;
                color: black;
            }
        }

    }

    #shop-area {
        .card {
            margin-top: 10px;
            width: 18rem;
            background-color: transparent;
            border: none;
            color: white;

            .card-img-top {
                border-radius: 10px;
                transition: transform .75s;
            }

            &:hover .card-img-top {
                transform: scale(1.1);
                box-shadow: 20px 20px 20px rgb(18, 91, 73);

            }

            .card-body {

                .card-title {
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    font-weight: bolder;
                }

                .btn {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: white;
                    outline: 2px solid #fff;
                    padding: 10px 40px;
                    position: relative;
                    overflow: hidden;
                    transition: color 1s;
                    background-color: transparent;
                    border: none;
                    border-radius: 8px;
                    outline: none;

                    &:hover {
                        color: $font-color  !important;
                    }

                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: -50px;
                        width: 0;
                        height: 100%;
                        background-color: #fff !important;
                        transform: skewX(35deg);
                        z-index: -1;
                        transition: width 1s;
                    }

                    &:hover::before {
                        width: 150%;
                    }

                    p {
                        font-weight: 16px !important;
                    }
                }
            }
        }
    }

    .pagination {
        background-color: transparent;

        ul {
            display: inline;

            li {
                a {
                    color: $main-font-color;
                    text-decoration: none;
                }

                padding: 10px;
                display: inline;
                list-style: none;
            }
        }
    }
}

.footer {
    padding: 30px;
    color: white;

    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: white;

            padding: 15px;

            &:hover {
                color: $text-hover-color;
            }
        }
    }
}


//Phone Portrait & Landscape
@media screen and(min-width: 320px) and(max-width: 470px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {

                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }

    main {
        #shop-area {
            padding-bottom: 30% !important;
            .card-body {
                padding: 20px;
            }

            .form-select {
                width: 200px !important;
            }

            .search-box {
                margin-top: 2% !important;

                .search {
                    width: 200px !important;
                }
            }
            .card{
               width: 22em !important;
                .card-body{
                    a{
                        font-size: 1.25em !important;
                    }
                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }
        .pagination{
           margin-left: 15% !important;
            
        }
    }
    .footer{
        margin-top:-15% !important;
    }
}

//Phone Portrait  
@media screen and(max-width: 320px) {
    header {

        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {

                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }

    #shop-area {
        .card-body {
            padding: 20px;
        }
    }
}

//Phone Landscape
@media screen and (min-width: 480px) {
    header {
        nav {
            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {

                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }

    main {
        #shop-area {
            padding-bottom: 50% !important;
            .card-body {
                padding: 20px;
            }
            .filter-area{
                margin-bottom: 5% !important;
            }
            .form-select {
                width: 210px !important;
            }

            .search-box {
                margin-top: 2% !important;
                width: 240px !important;
                .search {
                    width: 200px !important;
                }
            }
            .card{
                
                max-width: 22em !important;
                .card-body{
                    a{
                        font-size: 1.25em !important;
                    }
                    font-size: 1.25em !important;
                    font-weight: bolder !important;
                    font-style: italic;
                }
            }
        }
        .pagination{
           margin-left: 15% !important;
            
        }
    }
    .footer{
        margin-top:-15% !important;
    }
}

//Table Portrait & Landscape
@media screen and(min-width: 768px) and(max-width: 1024px) {
    header {
        nav {


            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;

                &:hover {
                    color: $text-hover-color  !important;
                }

                i {
                    margin-top: 10px;
                }

                .count {
                    position: absolute;
                    top: 5.3%;
                    right: 13.4%;
                }
            }
        }
    }

    #shop-area {
        .card-body {
            padding: 20px;
        }
    }
}

// Table Portrait 
@media screen and(max-width: 768px) {
    header {

        nav {

            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;
                font-size: 16px;

                &:hover {
                    color: $text-hover-color  !important;
                }
            }
        }
    }

    #shop-area {
        .card-body {
            padding: 20px;
        }
    }
}

//Table  Landscape
@media screen and(max-width: 1024px) {
    header {

        nav {

            .logo {

                img {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }

        ul {
            a {
                text-align: center !important;
                font: 1.2em sans-serif;
                color: white;
                padding-top: 30px !important;

                &:hover {
                    color: $text-hover-color  !important;
                }

                i {
                    margin-top: 10px;
                }
            }
        }
    }

    #shop-area {
        .card-body {
            padding: 20px;
        }
    }
}