@model PartnersVM
@{
    ViewData["Title"] = "Create";
}
<div class="container ms-4 mt-5">
    <div class="ms-12">
        <form class="forms-sample" method="post" asp-controller="Partners" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Photo"></label>
                <input class="form-control" style="width:300px" asp-for="Photo">
                <span class="text-danger" asp-validation-for="Photo"></span>
                <label class="mt-2" asp-for="Name"></label>
                <textarea class="form-control form-control-sm mt-1" type="text" asp-for="Name" id="editorsid"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
                <label class="mt-2" asp-for="Decs"></label>
                <textarea class="form-control form-control-sm mt-1" type="text" asp-for="Decs" id="editorid"></textarea>
                <span asp-validation-for="Decs" class="text-danger"></span>
                <button type="submit" class="btn btn-primary me-2 mt-3">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace("editorid");</script>
    <script>CKEDITOR.replace("editorsid");</script>
}