@model Dictionary<string, string>

<!-- header start -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg  navbar-light py-3 py-lg-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
                        <span class="navbar-toggler-icon" style="font-size: 12px;"></span>
                    </button>
                    <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/icons/@Model["Logo"]" alt="">
                    </a>
                    <div class="collapse navbar-collapse d-none d-lg-block">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Ana səhifə</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Index">Məhsullar</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" asp-controller="About" asp-action="Index">Haqqımızda</a>
                                <ul class="list-unstyled drop py-3">
                                    <li><a asp-controller="Partners" asp-action="Index">Əməkdaşlıq</a></li>
                                    <li><a asp-controller="Production" asp-action="Index">İstehsalat otağı</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Galery" asp-action="Index">Galereya</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="Index">Əlaqə</a>
                            </li>

                            <li class="nav-item dropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                <li class="nav-item"><a class="nav-link"><i class="fal fa-user "></i> @User.Identity.Name</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-controller="Account" asp-action="Logout">Çıxış</a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Daxil ol</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Qeydiyyat</a></li>
                            }
                            </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
            <i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
            <ul class="list-unstyled">
                <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home </a></li>
                <li><a class="nav-link" asp-controller="Product" asp-action="Index">Məhsullarımız</a></li>
                <li><a class="nav-link" asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                <li><a class="nav-link" asp-controller="Partners" asp-action="Index">Əməkdaşlıq</a></li>
                <li><a class="nav-link" asp-controller="Production" asp-action="Index">İstehsalat otağı</a></li>
                <li><a class="nav-link" asp-controller="Galery" asp-action="Index">Galereya</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link"><i class="fal fa-user"></i> @User.Identity.Name</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-controller="Account" asp-action="Logout">Çıxış</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" style="font-size:14px;" asp-controller="Account" asp-action="Login">Daxil ol</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size:14px;" asp-controller="Account" asp-action="Register">Qeydiyyat</a></li>
                }
            </ul>
        </div>
    </div>
</header>
<!-- header end -->