
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="about">
        <div class="container">
            <div class="about">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="image">
                            <img src="~/assets/img/IMG_1672.JPG" class="img-fluid " alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  mt-3">
                        <p> “Baku Spirits” MMC 2021-ci ildə öz fəaliyyətinə başlamışdır. Bu gün şirkət alkaqollu içkilər bazarında “Absolute Organic”, “Organic Nation”, “Vaksin”, ”Bussines Line”, “Black Scorpion”, ”Zero”, adı ilə tanınan araqlar və  “Qobustan” markalı şərab  istehsal edir. Müəssisədə ən müasir avadanlıqlarından istifadə olunur. Laboratoriyamız müasir “Agilent’s Gas”  xromatoqrafı, “ANTON PAAR ALCOLYZER” cihazı, “OHAUS” pH metr və konduktometr, “ULTRAPURE” saf su avadanlıqları ilə təchiz olunub. Məhsullarımız  yüksək ixtisaslı texnoloqun rəhbərliyi altında istehsal olunur. Məhsulların keyfiyyəti İSO 22000-2018 <a href="#sertification">sertifikatı</a> ilə təsdiq olunur. Şirkətin qarşısında  duran əsas məqsəd alkoqolu içkilər bazarında daha keyfiyətli məhsular istehsal edərək inkişaf etməkdir.  </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="sides">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="items">
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1684.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1689.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1695.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1702.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img//IMG_1709.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1712.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img//IMG_1732.JPG" alt="" /></a>
                    </div>
                    <div class="card" style="width: 30rem;">
                        <a href="detail.html"><img src="~/assets/img/IMG_1738.JPG" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- Video starts -->
            <div class="container mt-5">
                <div class="video">
                    <div class="row">
                        <div class="col  offset-md-2">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item img-fluid"
                                        src="~/assets/video/main.mp4  "></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video end -->
            <div class="sertification mt-3">
                <h1 id="sertification">Sertifikatlarımız</h1>
                <div class="images">
                    <div class="row  d-flex justify-content-center mt-3">
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 mt-2">
                            <img src="~/assets/img/sertificate-2.jpg" alt="..." class="img-fluid hidden-image" id="hidden-image">
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 mt-2">
                            <img src="~/assets/img/sertificate.jpg" alt="..." class="img-fluid hidden-image" id="hidden-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>