
@{
    ViewData["Title"] = "Index";
}


<main>
    <section id="top-area">
        <div class="content  mt-5">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                        <div class="text text-center">
                            <h2> Production</h2>
                            <p>
                                Best in class manufacturing companies
                                commission their ambitious projects
                                to Glass Decor
                            </p>
                            <div id="wrapper">
                                <div id="wrapper-inner">
                                    <div id="scroll-down">
                                        <p class="arrow-down">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="#process">LEARN MORE</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="image">
                            <img src="~/assets/img/IMG_1701.JPG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="process">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="~/assets/img/IMG_1733.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">OHAUS Konduktometr,OHAUS pH metr </h5>
                            <p class="card-text">
                                Suyun konduktivliyini ve terkibinde olan umumi hell olan duzlarin
                                (TDS) miqdarini teyin etmek ucun istifade olunur .
                            </p>
                            <p class="card-text"> Suyun ve araqin pH teyin etmek ucun istifade olunur.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="~/assets/img/IMG_1743.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">ANTON PAAR ALCOLYZER</h5>
                            <p class="card-text">
                                Spirtli içkilerde etil spirtinin hecm faizini,sıxlığını,şəkərin
                                BRİX fiaz miqdarını teyin edir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="~/assets/img/IMG_1737.JPG" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Agilent’s Gas xromatoqrafı</h5>
                            <p class="card-text">
                                Spirtli içkilərdə uçucu birləşmələrin dəqiq miqdarını təyin edir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
