
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

@model SliderVM
@{
    ViewData["Title"] = "Create";
}
<div class="container ms-4 mt-5">
    <div class="ms-12">
        <form class="forms-sample" method="post" asp-controller="Slider" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Photos"></label>
                <input class="form-control" style="width:300px" asp-for="Photos">
                <span class="text-danger" asp-validation-for="Photos"></span>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}