
@{
    ViewData["Title"] = "GALEREYA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" href="~/assets/css/galery.css">
}
<main>
    <div class="container">
        <section id="galery-area">
            <div class="row mt-3">
                @await Component.InvokeAsync("Galery", 20)
            </div>
        </section>
        <div class="row justify-content-center mt-5 ">
            <div class="col-4">
                <button id="loadMore" class="btn">Daha çox ...</button>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="~/assets/js/galery.js"></script>
}