
@{
    ViewData["Title"] = "GALEREYA";
}

<main>
    <div class="container">
        <section id="galery-area">
            <div class="row mt-3">
                <div class="col mt-3 content"><img src="~/assets/img/absolute-2.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/organic-2.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/zero-2.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/IMG_1662.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/IMG_1692.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/IMG_1695.JPG" alt="..."></div>
                <div class="col mt-3 content">
                    <img src="~/assets/img/absolute-purple-2.JPG" alt="...">
                </div>
                <div class="col mt-3 content"><img src="~/assets/img/absolute-2.JPG" alt="..."></div>
                <div class="col mt-3 content"><img src="~/assets/img/absolute-organic-1.JPG" alt="..."></div>
            </div>
        </section>
        <div class="row justify-content-center mt-5 me-5">
            <div class="col-4">
                <button id="loadMore" class="btn">Daha çox ...</button>
            </div>
        </div>
    </div>
</main>